<div class="comments-section">
    <!-- Formulario para nuevos comentarios -->
<h1>FORMULARIO OK</h1>
    {% if usr != None %}
        <form action="{{ url_for('comment_blpr.add', product_id=product.get_safe_id(srp)) }}" method="POST" class="mb-3">
            <div class="mb-3">
                <label for="edNewComment" class="form-label">Nuevo comentario</label>
                <textarea class="form-control" id="edNewComment" name="edNewComment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    {% endif %}

    <!-- Lista de comentarios -->
    {% for comment in comments|sort(attribute='date', reverse=true) %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ comment.email_author }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ comment.date.strftime('%d/%m/%Y %H:%M') }}</h6>
                <p class="card-text">{{ comment.text }}</p>
            </div>
        </div>
    {% endfor %}
</div>