{% extends "skeleton_in.jinja2" %}

{% block contents %}

    <form action="/user/edit/password" method="POST">
        <div class="card" style="margin: 10px">
            <div class="card-header">Cambio de contraseña</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="edName">Contraseña actual</label>
                    <input type="text" class="form-control" id="edPswd" name="edPswd" required>
                    <div class="invalid-feedback">Por favor, introduce tu contraseña actual.</div>
                </div>

                <div class="form-group">
                    <label for="edNewPswd">Nueva contraseña</label>
                    <input type="password" class="form-control" id="edNewPswd" name="edNewPswd" required>
                    <div class="invalid-feedback">Por favor, introduce tu nueva contraseña.</div>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 1em">
                    <img width="24px" src="/static/edit.svg" title="save" alt="Cambiar contraseña"/>
                    Cambiar contraseña
                </button>
            </div>
        </div>
    </form>

    <div style="margin: 10px">
        ¿Buscas cambiar tu nombre de usuario o email? <a href="/user/edit">Cambia tus datos aquí</a>
    </div>

{% endblock %}