{% extends "skeleton_auth.jinja2" %}

{% block contents %}

     <form action="/user/login" method="POST">
        <div class="card" style="margin: 10px">
            <div class="card-header">Iniciar sesión</div>
            <div class="card-body">

                <div class="form-group">
                    <label for="edEmail">Email</label>
                    <input type="email" class="form-control" id="edEmail" name="edEmail" required>
                    <div class="invalid-feedback">Por favor, introduce tu email.</div>
                </div>

                <div class="form-group">
                    <label for="edPswd">Contraseña</label>
                    <input type="password" class="form-control" id="edPswd" name="edPswd" required>
                    <div class="invalid-feedback">Por favor, introduce tu contraseña.</div>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-top: 1em">
                    <img width="24px" src="/static/login.svg" title="iniciar sesión"/>
                    Iniciar sesión
                </button>
            </div>
        </div>
     </form>

    <div style="margin: 10px">
        ¿No tienes una cuenta? <a href="/user/register">Regístrate aquí</a>
    </div>

{% endblock %}
